body {
  background-color: bisque;
}
#container {
  background-color: aquamarine;
  border: 5px solid rgb(0, 98, 255);
  height: 350px;
  width: 800px;
  margin: auto;
  text-align: center;
}

p {
  color: rgb(20, 18, 186);
  font-size: 30px;
  font-style: normal;
}

#input {
  width: 100px;
  margin: 25px;
}

#btn {
  margin: 25px auto auto 5px;
}
